
.carousel-inner>.active {
     margin-left: auto;
	margin-right: auto;
    width: 200px;
}
.load {
    position: absolute;
    top: 63%;
    right:2%;
    border-radius: 0px;   
}

.transparent_class { 
	filter:alpha(opacity=100);  
	opacity: 1;
	diplay: block;
	heigh: 100px;
	width:20%;
}

.loadSize{
	font-family:"微软雅黑";
	font-size: 17px;
	color:gray;
	margin-top: 1px;
	margin-right: -100px;	
}
.progress {
    height: 25px;
}
.progress-striped .bar {
    background-color: #8DDF14;
}