body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	background-color: #f9f9f1;
}
.mainBody{
	width: 928px;
	margin: 0 auto;
	background-color:#ffffff;
}
.blog_tit_detail{
	_position: relative;
    _z-index: 21;
    margin-right: 5px;
}
strong {
font-size: 26px;
font-family: 'Helvetica Neue','Helvetica Neue',Helvetica,'Hiragino Sans GB','Microsoft Yahei',tahoma;
font-weight: bold;
}

.blog_tit_con{
	padding: 20px;
	font-size: 16px;
	font-family: 'Helvetica Neue','Helvetica Neue',Helvetica,'Hiragino Sans GB','Microsoft Yahei',tahoma;
}


.blog_cont{
	font-size: 15px;
	margin-right: 20px;
	position: relative;
	font-family: 'Helvetica Neue','Helvetica Neue',Helvetica,'Hiragino Sans GB','Microsoft Yahei',tahoma;
	width: 900px;
	margin: 60 auto;
	/* float: left; */
	padding-top: 45px;
	padding-left: 14px;
	padding-right: 14px;
	color: #747567;
	background: url(${ctx}/images/bottom_border.png) top repeat-x;
}


.page-header-post {
	width: 900px;
	height: 50px;
	position: relative;
	top: 15px;
    padding-bottom: 20px;
    margin: 25px 0 10px;
    border-bottom: 1px solid #eee;
    
}


#infocenter_middle {
	width: 100%;
	min-height: 1000px;
	height: auto;
	padding: 0 20px;
	over-flow: hide;
	background-color: white;
	background: url(${ctx}/images/infocenter_bg.png) repeat-y center;
}
.bottom_border_middle {
	width: 928px;
	height: 40px;
	margin: 0 auto;
	float: left;
	padding-top: 10px;
	color: #747567;
	background: url(${ctx}/images/bottom_border.png) top repeat-x;
}
#bottom {
	padding: 0 20px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
}