.slogan{
	top: 35%;
	background: rgba(0,0,0,0.15);
    width: 80%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border-radius:25px;
}
.clickIn{
	position: absolute;
	top: 75%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius:25px;
}

.clickIn a img{
	margin: 0 auto;
	width: 200px;
}

.slogan p{
	font-size: 18px;
	color: black;
}
.load {
    position: absolute;
    top: 25%;
    left:0;
    border-radius: 0px;
    margin:40px auto; 
    width:100%; 
    background-color：grey ;
    vertical-align: middle;
    
}
fieldset {
	width: 220px;
	height: 250px;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 1px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-radius: 15px;
    border-color: rgba(42, 154, 102, 0.4);
    box-shadow: 5px 5px 3px #888888;
}

.border-style-hu{
	width: 230px; 
	border-width: 1px; 
	border-color: #000;
	
}