.slogan{
	top: 35%;
	background: rgba(0,0,0,0.15);
    width: 80%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border-radius:25px;
}
.clickIn{
	position: absolute;
	top: 75%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius:25px;
}

.clickIn a img{
	margin: 0 auto;
	width: 200px;
}

.slogan p{
	font-size: 18px;
	color: black;
}
